<table class="table table-striped">
    <thead>
        <tr *ngIf="!vistaEstudiante;else headEstudiante">
            <th>#</th> 
            <th scope="col">Facultad</th>
            <th scope="col">Bloque</th>
            <th scope="col">Tipo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Aforo</th>
            <th scope="col">Reservable</th>
            <th scope="col">Reservado</th>
            <th scope="col">Horas de Uso</th>
            <th scope="col">Hrs Nuevo Uso</th>
            <th scope="col">Tiempo Espera</th>
        </tr>
    </thead>
    <tbody *ngIf="!vistaEstudiante;else bodyEstudiante">
        <tr *ngFor="let espacioF of espaciosFisicos" (click)="sendDataPadre(espacioF)" class="filaEsp">
            <td>{{espacioF.id}}</td>
            <td>{{ espacioF.facultad }}</td>
            <td>{{ espacioF.bloque }}</td>
            <td>{{ espacioF.tipo }}</td>
            <td>{{ espacioF.nombre }}</td>
            <td>{{ espacioF.aforo }}</td>
            <td>
                <label *ngIf="espacioF.reservable;else casoCreservable">Si</label>
                <ng-template #casoCreservable>No</ng-template>
            </td>
            <td>
                <label *ngIf="!espacioF.reservado;else casoCreservado">No</label>
                <ng-template #casoCreservado>Si</ng-template>
            </td>
            <td>{{ espacioF.horas_uso }}</td>
            <td>{{ espacioF.horas_nueva_reserva }}</td>
            <td>{{ espacioF.tiempo_espera }}</td>
        </tr>
    </tbody>
</table>

<ng-template #headEstudiante>
    <th scope="col">Facultad</th>
    <th scope="col">Bloque</th>
    <th scope="col">Tipo</th>
    <th scope="col">Nombre</th>
    <th scope="col">Aforo</th>
    <th scope="col">Reservable</th>
</ng-template>
<ng-template #bodyEstudiante>
    <tbody *ngFor="let espacioF of espaciosFisicos">
        <tr *ngIf="espacioF.reservable" (click)="sendDataPadre(espacioF)" class="filaEsp">
            <td>{{ espacioF.facultad }}</td>
            <td>{{ espacioF.bloque }}</td>
            <td>{{ espacioF.tipo }}</td>
            <td>{{ espacioF.nombre }}</td>
            <td>{{ espacioF.aforo }}</td>
            <td>
                <label *ngIf="espacioF.reservable == 1;else casoCreservable">Si</label>
                <ng-template #casoCreservable>No</ng-template>
            </td>
        </tr>
    </tbody>
</ng-template>

<!-- <td><input type="checkbox" [value]="espacioF.reservado"/> {{ espacioF.reservado }}<label *ngIf="!espacioF.reservado">No</label></td> -->

<!--
    *ngIf="espacioF.reservable"
    
    <td>
    <input *ngIf="vistaReglas" type="checkbox" [value]="espacioF.reservado" />
    <label *ngIf="!espacioF.reservado;else casoCreservado">No</label>
    <ng-template #casoCreservado>Si</ng-template>
</td> -->