<div class="btn-group" dropdown [insideClick]="true">
    <button id="button-animated" dropdownToggle type="button" class="btn btn-terciary dropdown-toggle"
        aria-controls="dropdown-animated">
        {{textoBtn}}<span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
        <li *ngFor="let opcion of arrayOpciones" role="menuitem">
            <a class="dropdown-item" [href]="opcion?.ruta">{{opcion.nombre}}</a>
        </li>
    </ul>
</div>