<div class="container">
    <div class="row"><!-- header opciones -->
        <accordion [isAnimated]="true">
            <accordion-group *ngIf="!Edit;else EditFom" class="acordeon-group" [isOpen]="isOpenAcord"
                heading="Añadir nuevo Espacio Fisico">
                <form class="new-espacioF"><!-- info Espacio Fisico -->
                    <div class="row"><!-- selects -->
                        <div class="col  ">
                            <label>Facultad:</label>
                            <select class="form-select" id="facultad" (change)="onSelectFacultad($event)">
                                <option value="0">Selecciona Facultad</option>
                                <option *ngFor="let facultad of facultades" [value]="facultad.nombre">
                                    {{facultad.nombre}}
                                </option>
                            </select>
                            <!-- <input type="text" name="nombre" class="input-nombre" [(ngModel)]="newEspacioFisico.nombre"> -->
                        </div>
                        <div class="col col-md-3  ">
                            <label>Bloque: </label>
                            <select class="form-select" id="bloque" (change)="onSelectBloque($event)">
                                <option value="0">Selecciona Bloque</option>
                                <option *ngFor="let bloque of bloques" [value]="bloque.bloque">{{bloque.bloque}}
                                </option>
                            </select>
                        </div>
                        <div class="col col-md-3 ">
                            <label>Tipo: </label>
                            <select class="form-select" id="tipo" (change)="onSelectTipo($event)">
                                <option value="0">Selecciona Tipo</option>
                                <option *ngFor="let tipo of tipos" [value]="tipo.nombre">{{tipo.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <label>Nombre:</label>
                            <input type="text" name="nombre" class="input-nombre"
                                [(ngModel)]="newEspacioFisico.nombre ">
                        </div>
                        <div class="col col-md-2">
                            <label>Aforo:</label>
                            <input type="number" name="aforo" [min]="tipoSelected.min" [max]="tipoSelected.max"
                                class="input-aforo" [(ngModel)]="newEspacioFisico.aforo ">
                        </div>
                        <div class="col col-md-2">
                            <label>Reservable:</label>
                            <input type="checkbox" name="reservable" class="form-check-input"
                                [(ngModel)]="newEspacioFisico.reservable ">
                        </div>
                        <div class="col col-md-2">
                            <label>Reservado:</label>
                            <input type="checkbox" name="reservado" class="form-check-input"
                                [(ngModel)]="newEspacioFisico.reservado">
                        </div>
                    </div>
                    <div class="row"><!-- reglas -->
                        <div class="col">
                            <label>Tiempo de Uso: {{newEspacioFisico.horas_uso}} Horas/Minutos</label>
                            <input class="input-group time" type="time" name="horas-uso"
                                [(ngModel)]="newEspacioFisico.horas_uso">
                        </div>
                        <div class="col">
                            <label>Tiempo Hasta nueva reserva: {{newEspacioFisico.horas_nueva_reserva}}
                                Horas/Minutos</label>
                            <input class="input-group time" type="time" name="horas-nueva-reserva"
                                [(ngModel)]="newEspacioFisico.horas_nueva_reserva">
                            <label></label>
                        </div>
                        <div class="col">
                            <label>Tiempo de espera del estudiante: {{newEspacioFisico.tiempo_espera}} Minutos</label>
                            <input class="input-group time" type="time" name="tiempo-espera"
                                (input)="getTiempoespera($event)" [(ngModel)]="newEspacioFisico.tiempo_espera">
                        </div>
                    </div>

                    <div class="col botones"><!-- botones -->
                        <button (click)="Agregar()" class="btn btn-primary">Agregar</button>
                        <!-- <button class="btn btn-primary" type="reset">Reset</button> -->
                    </div>
                </form>
            </accordion-group>
        </accordion>
    </div>
    <div class="row"><!-- lista -->
        <lista-espaciosf (dataSend)="receiveData($event)" [espaciosFisicos]="espaciosFisicos" [bloques]="bloques"
            [facultades]="facultades" [tipos]="tipos" />
    </div>
    <!--   {{newEspacioFisico | json}} -->
</div>

<ng-template #EditFom><!-- vista edicion -->
    <form class="edit-espacioF">
        <div class="row">
            <div class="col ">
                <label>Nombre:</label>
                <input type="text" name="nombre" class="input-nombre" [(ngModel)]="newEspacioFisico.nombre ">
            </div>
            <div class="col col-md-3 ">
                <label>Tipo: </label>
                <select class="form-select" id="tipo" (change)="onSelectTipo($event)">
                    <option value="0">Selecciona Tipo</option>
                    <option *ngFor="let tipo of tipos" [value]="tipo.nombre">{{tipo.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-3">
                <label>Aforo:</label>
                <input type="number" name="aforo" [min]="tipoSelected.min" [max]="tipoSelected.max" class="input-aforo"
                    [(ngModel)]="newEspacioFisico.aforo ">
            </div>
            <div class="col col-md-3">
                <label>Reservable:</label>
                <input type="checkbox" name="reservable" class="form-check-input"
                    [(ngModel)]="newEspacioFisico.reservable ">
            </div>
            <div class="col col-md-3">
                <label>Reservado:</label>
                <input type="checkbox" name="reservado" class="form-check-input" disabled="true"
                    [(ngModel)]="newEspacioFisico.reservado">
            </div>
        </div>
        <div class="row"><!-- reglas -->
            <div class="col">
                <label>Tiempo de Uso: {{newEspacioFisico.horas_uso}} Horas/Minutos</label>
                <input class="input-group time" type="time" name="horas-uso" [(ngModel)]="newEspacioFisico.horas_uso">
            </div>
            <div class="col">
                <label>Tiempo Hasta nueva reserva: {{newEspacioFisico.horas_nueva_reserva}}
                    Horas/Minutos</label>
                <input class="input-group time" type="time" name="horas-nueva-reserva"
                    [(ngModel)]="newEspacioFisico.horas_nueva_reserva">
                <label></label>
            </div>
            <div class="col">
                <label>Tiempo de espera del estudiante: {{newEspacioFisico.tiempo_espera}} Minutos</label>
                <input class="input-group time" type="time" name="tiempo-espera" (input)="getTiempoespera($event)"
                    [(ngModel)]="newEspacioFisico.tiempo_espera">
            </div>
        </div>
        <div class="row">
            <div class="col col-md-3"><!-- botones -->
                <button (click)="Editar(newEspacioFisico.id)" class="btn btn-primary">Guardar Cambios</button>
                <!-- <button class="btn btn-primary" type="reset">Reset</button> -->    
            </div>
            <div class="col col-md-3">
                <button (click)="Eliminar(newEspacioFisico.id)"  class="btn btn-danger" type="reset">Eliminar</button> 
            </div>  
            <div class="col col-md-3">
                <button (click)="resetEdit({message:'Ya no estas editando el Espacio Fisico'})"  class="btn btn-secondary" type="reset">Cancelar</button> 
            </div>
        </div>
    </form>
</ng-template>