<form class="new-reserva">
    <div class="col">
        <button type="button" class="btn btn-primary" (click)="openModal(template)">Seleccionar Espacio Fisico</button>
    </div>
    <div class="row" *ngIf="espacioFisicoSelected">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Facultad</th>
                    <th scope="col">Bloque</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Aforo</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ espacioFisicoSelected.facultad }}</td>
                <td>{{ espacioFisicoSelected.bloque }}</td>
                <td>{{ espacioFisicoSelected.tipo }}</td>
                <td>{{ espacioFisicoSelected.nombre }}</td>
                <td>{{ espacioFisicoSelected.aforo }}</td>
            </tbody>
        </table>
    </div>
    <div class="row" *ngIf="espacioFisicoSelected">
        <div class="col">
            <label>Fecha a Resevar:</label>
            <input class="form-control" type="text" name="hora-reserva" placeholder="Fecha Reserva" [minDate]="minDate"
                [daysDisabled]="[6,0]" [(ngModel)]="fechaSelected" [bsConfig]="{isAnimated:true}"
                bsDatepicker>
        </div>
        <div class="col">
            <label>Hora Inicial a Reservar:</label>
            <timepicker class="form-group date" name="hora-inicial" [minuteStep]="30" (isValid)="isValid($event)"
                (click)="calcularHoraFin()" [min]="minTime" [max]="maxTime" [(ngModel)]="newReserva.hora_reservar" formC>
            </timepicker>
        </div>
        <div class="col">
            <label>Hora final a Reservar:</label>
            <timepicker class="input-group date" name="hora-final" [readonlyInput]="true" [showSpinners]="false"
                [(ngModel)]="newReserva.hora_finalReservar">
            </timepicker>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" [disabled]="!fechaSelected" (click)="Reservar(espacioFisicoSelected.id)">Reservar
                Espacio Fisico</button>
                <button type="button" class="btn btn-secondary" (click)="puedeReservar()">prueba</button>
        </div>
    </div>
</form>
<ng-template #template><!--  modal para seleccionar espacio fisico -->
    <div class="modal-header">
        <h4 class="modal-title pull-left">Espacios fisicos</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <lista-espaciosf [vistaEstudiante]="true" (dataSend)="receiveData($event)"
            [espaciosFisicos]="espaciosFisicos" />
    </div>
</ng-template>
<!-- {{newReserva | json}} -->