.navbar {
    background-color: var(--gris-resalto);
    /* border-radius: 0 0 8px 8px; */
}
.navbar .container{
    color: var(--azul-resalto);
}
.navbar .container .nav-item :hover{
    color: blanchedalmond;
}
.container-child{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 40px;
}
.container-child a{
    font-size: 19px;
}
.container-acord{
    margin-top: 20px;
    width: 300px;
}