/* You can add global styles to this file, and also import other style files */
:root{
    --azul-base:#0252a6 ;
    --azul-resalto:#1d84f3;
    --paneles-aux:#c0bcbce3;
    --gris-resalto:#696969;
    --gris-resaltoaux:#e8e8e8;
    --naranja-resalto: #ec6e1d;
    /* background blanco por defecto*/
}
body{
    /* background-color:#fff; */
    height: 100vh;
}
.custom-panel{/* css del sidemenu off canvas*/
    background-color: var(--gris-resalto);
}
